[submodule "plugins/ratiocolor"]
	path = plugins/ratiocolor
	url = https://github.com/angelicdust/rutorrent-ratiocolor.git
[submodule "plugins/discordpush"]
	path = plugins/discordpush
	url = https://github.com/angelicdust/rutorrent-discord.git
[submodule "plugins/pausewebui"]
	path = plugins/pausewebui
	url = https://github.com/Gyran/rutorrent-pausewebui.git
[submodule "plugins/trackerstatus"]
	path = plugins/trackerstatus
	url = https://github.com/Micdu70/rutorrent-trackerstatus.git
[submodule "plugins/hostname"]
	path = plugins/hostname
	url = https://github.com/rozhuk-im/rutorrent-hostname.git
[submodule "plugins/toggle_details_button"]
	path = plugins/toggle_details_button
	url = https://github.com/Micdu70/plugin-toggle_details_button-ruTorrent.git
[submodule "plugins/addzip"]
	path = plugins/addzip
	url = https://github.com/Micdu70/rutorrent-addzip.git
[submodule "plugins/instantsearch"]
	path = plugins/instantsearch
	url = https://github.com/Micdu70/rutorrent-instantsearch.git
[submodule "plugins/force_save_session"]
	path = plugins/force_save_session
	url = https://github.com/orobardet/rutorrent-force_save_session.git
[submodule "plugins/geoip2"]
	path = plugins/geoip2
	url = https://github.com/angelicdust/geoip2-rutorrent.git
[submodule "plugins/filemanager"]
	path = plugins/filemanager
	url = https://github.com/nelu/rutorrent-filemanager.git
[submodule "plugins/filemanager-share"]
	path = plugins/filemanager-share
	url = https://github.com/nelu/rutorrent-filemanager-share.git
[submodule "plugins/filemanager-media"]
	path = plugins/filemanager-media
	url = https://github.com/nelu/rutorrent-filemanager-media.git
[submodule "plugins/nfo"]
	path = plugins/nfo
	url = https://github.com/phracker/ruTorrent-nfo.git
