# Eclipse
.settings
.settings/*
.buildpath
.project
.jsdtscope

# ruTorrent
conf/users/*
share/users/*
share/torrents/*
share/settings/*
.htpasswd

php/commands.lst
.idea/*
*.iml
rutorrent-custom-plugins

# MacOS
.DS_Store
