# Eclipse
.settings
.settings/*
.buildpath
.project
.jsdtscope

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# ruTorrent
conf/users/*
share/users/*
share/torrents/*
share/settings/*
.htpasswd

php/commands.lst
.idea/*
*.iml
rutorrent-custom-plugins

# MacOS
.DS_Store
